<html>
<head>
    <title>Archiver</title>
    <style type="text/css">
        .nav li {
            display: inline;
            padding-right: 10px;
            padding-left: 10px;
            background-color: #166dc0;
            border: 1px solid white;
        }
        .nav a {
            text-decoration: none;
            color: white;
        }
        .nav ul {
            list-style: none none inside;
        }
    </style>
    {% block extrahead %} {% endblock %}

</head>
<body>
<div id="container">
    <div id="menu">
        <ul class="nav">
            <li class="nav">
                <a href="/single/">Single</a>
            </li>
            <li class="nav">
                <a href="/batch2/">Batch</a>
            </li>
            <a href="/view/">
            <li class="nav">
                View
            </li>
            </a>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <li class="nav">
                        <a href="/admin/">Admin</a>
                    </li>
                {% endif %}
                <li class="nav">
                    <a href="/logout/">Logout</a>
                </li>
            {% endif %}
            {% block extramenu %}
            {% endblock %}
        </ul>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>